<link rel="stylesheet" href="/style.css"/>

<h1>Requests</h1>

<ul>
  <% @requests.each do |request|%>
    <div>
      <h3><%= request.space_name %> from <%= request.name %> email: <%= request.email %> </h3>
      <a class='button' href="">Confirm</a>
      <a class='button' href="">Deny</a>
    </div>
  <%end%>
</ul>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
