<link rel="stylesheet" href="/style.css"/>

<h1>Welcome to MakersBnB!</h1>
<br>
<h2><a href='/spaces'>View listings</a></h2>
<br>
<br>
<h3>Create your account</h3>
<h3> <%= flash[:notice] %> </h3>
<br>
<form action="/user/new" method="post">
    <input required type="text" name="name" placeholder="Full name" /><br><br>
    <input required type="email" name="email" placeholder="Enter email" /><br><br>
    <input minlength="5" required type="password" name="password" placeholder="Enter password"><br><br>
    <input required type="password" name="password confirmation" placeholder="Confirm the password"><br><br>
  <input type="submit" class="button" value="Sign up" />
</form>
<br>
<h3>Already have an account? <a href='/sessions/new'>Sign in</a></h3>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
