<link rel="stylesheet" href="/style.css"/>

<h1>Book your stay!</h1>
<br>
<br>
<form action="/spaces/<%=@space_id%>/booking" method="post">
  <h3>Select Date Of Stay<h3><br>
    <input type="date" name="booking_date" required /><br><br>
    <br>
    <input type="submit" value="Book" /><br><br>
</form>

<footer>
 Makers BnB | FAMM team | Makers 2020
</footer>
